<extend name="Public/base"/>
<block name="css">
    <link href="__PUBLIC__/Home/css/app.css" rel="stylesheet" type="text/css"/>
</block>
<block name="body">

    <div class="main">
        <div class="main-content">
            <div class="left"><img src="/Public/Home/images/app.png" alt="加粉助手" class="mobile"></div>
            <div class="right">
                <div class="subtitle"><img src="/Public/Home/images/slogan.png" alt="微商从此开始"
                                           class="slogan"></div>
                <div class="download-wrap">
                    <div class="barcode"><img src="http://ytk.fbcontent.cn/ss/21a948fd-barcode.png" alt="二维码下载"></div>
                    <div class="download-list"><a target="_blank" href="{:C('ANDROID_URL')}"
                                                    rel="Android 客户端"
                                                  class="download-item false">Android客户端</a><a target="_blank"
                                                                                               href="{:C('IOS_URL')}"
                                                                                               rel="iPhone 客户端"
                                                                                               class="download-item false">iPhone客户端</a><a
                            target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2462295667&site=qq&menu=yes"
                              rel="在线咨询"
                            class="download-item false">在线咨询</a></div>
                </div>
                <div class="agent-wrap">
                    <img src="/Public/Home/images/dollar.png" alt="代理加盟" class="ape">
                    <a target="_blank" href="/agent" class="agent-site-link">
                        <b>我有资源</b>我想代理加盟 &gt;</a>
                </div>
            </div>
        </div>
    </div>
</block>


