<extend name="Public/base"/>
<block name="css">
    <link href="__PUBLIC__/Home/css/buy.css" rel="stylesheet" type="text/css"/>
</block>
<block name="body">

    <div class="main">
        <div class="main-content">
            <div class="left"><img src="/Public/Home/images/buy.png" alt="加粉助手" class="mobile"></div>
            <div class="right">
                <div class="subtitle"><img src="/Public/Home/images/buy_title.png" alt="正版只需要88"
                                           class="slogan"></div>
                <input type="text" class="codetext" placeholder="输入手机的设备号">

                <div class="button-wrap">
                    <div class="button-list"><a target="_blank" href="https://item.taobao.com/item.htm?id=529740298319"
                                                rel="立即激活"
                                                class="button-item false">立即激活</a><a
                            target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2462295667&site=qq&menu=yes"
                            rel="在线咨询"
                            class="button-item false">在线咨询</a></div>
                </div>
            </div>
        </div>
    </div>
</block>


